@charset "utf-8";
/* CSS Document
  inist-cnrs - 10/2017
 istex.fr
 vert:#cad733 rgb(202,215,51)- License
 bleu:#458ca5 - background bouton
 gris-clair:#aaa - #cacaca
 gris-foncé:#242b32*/
/***SANITIZE https://github.com/jonathantneal/sanitize.css/blob/master/sanitize.css ***/
/*! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */

/* Document (https://html.spec.whatwg.org/multipage/semantics.html#semantics)
   ========================================================================== */

*,
::before,
::after {
	background-repeat: no-repeat;
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}
html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	cursor: default;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%;
}

/* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
   ========================================================================== */

article,
aside,
footer,
header,
nav,
section {
	display: block;
}
body {
	margin: 0;
	font-size: 1.4rem;
	font-family: 'Open Sans', sans-serif;
}


/* Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)
   ========================================================================== */

figcaption,
figure,
main {
	display: block;
}
figure {
	margin: 1em 40px;
}
hr {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	height: 0;
	overflow: visible;
}
nav ol,
nav ul {
	list-style: none;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)
   ========================================================================== */

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}
b,
strong {
	font-weight: inherit;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
dfn {
	font-style: italic;
}
mark {
	background-color: #ffff00;
	color: #000000;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -.25em;
}
sup {
	top: -.5em;
}
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}
audio,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
img {
	border-style: none;
}
svg:not(:root) {
	overflow: hidden;
}
table {
	border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
	margin: 0;
}
button,
input,
select,
textarea {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
legend {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
textarea {
	overflow: auto;
	resize: vertical;
}
[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interactive elements (https://html.spec.whatwg.org/multipage/forms.html#interactive-elements)
   ========================================================================== */

details,
menu {
	display: block;
}
summary {
	display: list-item;
}

/* Scripting (https://html.spec.whatwg.org/multipage/scripting.html#scripting-3)
   ========================================================================== */

canvas {
	display: inline-block;
}
template {
	display: none;
}

/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */

[aria-busy="true"] {
	cursor: progress;
}
[aria-controls] {
	cursor: pointer;
}
[aria-hidden="false"][hidden]:not(:focus) {
	clip: rect(0, 0, 0, 0);
	display: inherit;
	position: absolute;
}
[aria-disabled] {
	cursor: default;
}

/*surcharge de istex widget*/
/*html,body{font-size:initial}
h1,.h1,h2,.h2,h3,.h3,body{line-height:unset;}*/

/* COMMUN
===============================================================================*/
img{
	max-width:100%;
	height:auto;
}
svg {
	fill: #cad733;
	width: 25px;
	height: 25px;
	stroke-antialiasing:true;
}
.page{
	max-width:100%;
	margin:0 auto;
	padding-left: 5px;
	padding-right: 5px;
}
/*titres et typo*/
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	font-weight:normal;
	color:#fff;
}
h1,.h1 {
	font-size: 3.5rem;
	text-align:center;
	margin: .67em 0;
}
.cgu h1,.cgu h2{
	text-align:left;
}
.cgu p{
	margin-left:40px;
}
h2,.h2 {
	font-size:3rem;
	font-weight:500;
	text-align:center;
}
h3 {
	font-size: 2.5rem;
}
.soustitre{
	font-size: 2rem;
}
.maj {
	font-size: 1.5rem;
}
.maj,.button,.homechercheur h1,.homeresponsables h1,.homecurieux h1{
	text-transform:lowercase;
	font-variant:small-caps;
	font-family:Montserrat, sans-serif;
}
body > footer{
	font-size: 1.2rem;
}
section h2{
	margin:0;
}
section,article{
	padding:30px 0;
}
/*liens et couleur*/
a{
	text-decoration:none;
}
a:hover, a:focus{
	text-decoration:underline;
}
a:link,a:visited,a:active{
	color:#cad733;
}
.lienext::before{
	content:url('../images/ic_open_in_new.svg');
	float:left;
}
.profile li a:hover,.profile li a:focus{
	color:#fff;
}
.profile li{
	-webkit-transition-duration: 0.7s;
	     -o-transition-duration: 0.7s;
	        transition-duration: 0.7s;
	-webkit-transition-property:background-color;
	-o-transition-property:background-color;
	transition-property:background-color;
}
.profile li:hover,.profile li:focus{
	background-color:#458ca5;
}
.corpusImage{
	background-color:#fff;
}
.chiffres{
	color:#fff;
}

/*BODY
=========*/
body {
	color:#cacaca;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	min-height:100vh;
	font-family: 'Open Sans', sans-serif;
	background:#242b32 url(../images/BG_Dark_Mobile.jpg) center repeat;
}

/*HEADER
=========*/
body > header{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	align-items:center;
	flex-shrink:0;
	border-bottom:2px solid #fff;
	background-color:#242b32;
	min-height:48px;
}
body > header > h1,body > header > .h1,.banner{
	margin:0;
}
body > header a:hover, a:focus,body > header abbr[title]{
	text-decoration:none;
}
/**navigation
=============**/
.main-navigation label svg:hover,.main-navigation label svg:focus{
	cursor:pointer;
	background-color:#458ca5;
	fill:#fff;
}
.primary-menu {
	position: absolute;
	-webkit-transform: translateX(-110%) translateZ(0);
	        transform: translateX(-110%) translateZ(0);
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	-o-transition: transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
	will-change: transform;
 }
 input:checked ~ .primary-menu {
	 -webkit-transform: translateX(0);
	     -ms-transform: translateX(0);
	         transform: translateX(0);
	}
	nav > input{
		display:none;
	}
	nav a {
	  display: block;
	  padding: .7em;
	  margin-bottom: 1px;
	  text-decoration: none;
		-webkit-transition-duration: 0.7s;
		     -o-transition-duration: 0.7s;
		        transition-duration: 0.7s;
		-webkit-transition-property: background-color;
		-o-transition-property: background-color;
		transition-property: background-color;
	}
	nav a::after{
		content:"\0000a0 \203A";
		display:inline-block;
	}
	nav a::before{
		display:inline-block;
		vertical-align:text-top;
		margin-right:1rem;
		width:2rem;
		height:2rem;
	}
	.menu-acc::before{
			content:url('../images/ic_home_menu.svg');
	}
	.menu-cher::before{
			content:url('../images/ic_chercheur_menu.svg');
	}
	.menu-resp::before{
			content:url('../images/ic_responsable_menu.svg');
	}
	.menu-cur::before{
			content:url('../images/ic_curieux_menu.svg');
	}
	.main-navigation{
		padding-left:1em;
	}
	.primary-menu {
			background-color:#242b32;
			padding:0;
			margin:0;
			text-align:left;
	}
	.primary-menu li {
		border-bottom:1px solid #fff;
		border-left:1px solid #fff;
		border-right:1px solid #fff;
	}
	.primary-menu li:first-child{
		margin-top:1px;
	}
	.primary-menu a:hover, .primary-menu a:focus{
		color:#fff;
		background-color:#458ca5;
	}
	/*MAIN
	=========*/
	main{
		flex:auto;
	}
/** home
=================**/
.home{
-ms-flex-item-align:center;
    align-self:center;
	/*max-width:60rem;*/
	text-align:center;
	padding-top:1rem;
}
.baseline{
	font-size:2.3rem;
}
ul.profile{
	padding:0;
	margin-top:0;
	list-style-type: none;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-pack:distribute;
	    justify-content:space-around;
}
.profile li{
	margin:.2rem;
	width:calc(100vw/3 - 1em);
	border:1px solid #fff;
	min-height:calc(100vw/3 - 1em);
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-pack:end;
	    -ms-flex-pack:end;
	        justify-content:flex-end;
	padding-bottom:.2rem;
}
.profile .chercheur{
	background:url('../images/ic_Chercheur.svg') center 30% no-repeat;
	background-size:70%;
}
.profile .responsable{
	background:url('../images/ic_Responsable.svg') center 30% no-repeat;
	background-size:70%;
}
.profile .curieux{
	background:url('../images/ic_Curieux.svg') center 30% no-repeat;
	background-size:60%;
}
.profile a:before{
	content:'';
	display:block;
	/*height:4.56em;*/
}
.profile li p{
	margin:0;
	word-wrap:break-word;
}
.button.adherer a{
	border:1px solid #fff;
	position:relative;
	font-family:Cookie, sans-serif;
	font-variant:normal;
	text-transform:initial;
	font-size:4.5rem;
	padding:0px 50px 0px 75px;
}
.button.adherer a:hover,.button.adherer a:focus{
		/*border:3px solid #fff;*/
}
.lien_ext{
  display: inline-block;
  width: 25px;
  height: 25px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  position:absolute;
  left:35px;
  top:13px;
}

	/** HOME-PROFIL
	=================**/
	.homechercheur>.page:first-child,.homeresponsables>.page:first-child,.homecurieux>.page:first-child{
		text-align:center;
		margin-top:2.345rem;
	}
	main>section:nth-child(2n),.claire{
		background-color:rgba(69, 140, 165, 0.2);
	}
	.mobile{
		width:65px;
		height:auto;
	}
	.tester{
		text-align:center;
	}
	.chiffres{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
	    -ms-flex-direction:column;
        flex-direction:column;
	}
	.encadre{
		border:1px solid #fff;
		text-align:left;
		width: calc(100%/2 - 10px);
		position:relative;
	}
	.encadre h3{
		padding:0 5px;
	}
	.usages .encadre{
		width: calc(100%);
	}
	.conteneur,.detail{
		padding: 20px;
	}
	.conteneur ,	.chiffres>p{
		margin-bottom: 20px;
		margin-top:20px;
	}
	.chiffres>p{
		width:auto;
	}
	.services .encadre,.usages>p{
		text-align:center;
	}
	.chiffre{
		display:block;
		font-size:3rem;
		font-weight:normal;
	}
	.texteChiffre {
		display: block;
		font-size: 1.8rem;
	}
	.chiffres p{
		padding-left:100px;
	}
	.chiffres p:nth-of-type(1){
		background:url('../images/ic_documents.svg') 20px center no-repeat;
		background-size:50px 60px;
	}
	.chiffres .titres{
		background:url('../images/ic_Titres.svg') 20px center no-repeat;
		background-size:50px 60px;
	}
	.chiffres .ebooks{
		background:url('../images/ic_ebooks.svg') 20px center no-repeat;
		background-size:50px 60px;
	}
	.chiffres .etab{
		background:url('../images/ic_Etablissements.svg') 20px center no-repeat;
		background-size:60px 60px;
	}
	.chiffres .corpus{
		background:url('../images/ic_Corpus.svg') 20px center no-repeat;
		background-size:60px 60px;
	}
	.services > div,.usages > div, .disciplines > div{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-ms-flex-direction:column;
		        flex-direction:column;
		-webkit-box-align:center;
		-ms-flex-align:center;
		        align-items:center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.services .encadre{
		min-height:300px;
		min-width:300px;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		   -ms-flex-direction: column;
		     flex-direction: column;
		-webkit-box-pack: end;
		   -ms-flex-pack: end;
		     justify-content: flex-end;
		-webkit-box-align:center;
			-ms-flex-align:center;
				align-items:center;
	}
	.services img{
		width:30%;
		height:30%;
	}
	img.difficulteService {
	position: absolute;
	top: 10px;
	right: 20px;
	width: 30px;
	height: 30px;
	}
	.disciplines .encadre, .services .encadre, .usages .encadre, .corpus .encadre {
		margin-bottom:20px
	}
	.detail {
		-webkit-box-flex:1;
		    -ms-flex:1;
		        flex:1;
	}
	.bas {
		border-top:1px solid #fff;
		text-align: center;
	}
	.buttonpour{
		position:absolute;
		top:10px;
		right:10px;
		border:1px solid #fff;
		color:#fff;
		padding:5px;
		width:50px;
	}
	.buttonpour+.buttonpour{
		top: 45px;
	}
	.buttonpour+.difficulteService{
		top: 55px;
	}
	.buttonpour+.buttonpour+.difficulteService{
		top: 110px;
	}
	.bas a{
		color:#fff;
	}
	.bas p{
		margin:0;
	}
	.lien_page,.button{
		text-align:center;
	}
	#menu-voir-soutenez-istex,#menu-voir-profil-chercheur{
		list-style: none;
		margin-bottom:0;
	}

	.button a{
		display:inline-block;
		padding:10px;
		color:#cad733;
		border:1px solid #cad733;
		font-size:140%;
		-webkit-transition-property:background-color;
		-o-transition-property:background-color;
		transition-property:background-color;
		-webkit-transition-duration: 0.7s;
		     -o-transition-duration: 0.7s;
		        transition-duration: 0.7s;
	}
	.button a:hover,.button a:focus{
		border:1px solid #fff;
		color:#fff;
		background-color:#458ca5;
		text-decoration:none;
	}
	#menu-voir-soutenez-istex .button a,.button .profil144{
		background:url('/wp-content/themes/istex/images/ic_responsable_menu.svg') no-repeat left;
		padding-left:40px;
		background-position-x:5px;
	}
	#menu-voir-profil-chercheur	.button a,.button .profil142{
		background:url('/wp-content/themes/istex/images/ic_chercheur_menu.svg') no-repeat left;
		padding-left:40px;
		background-position-x:5px;
 }
	.pourqui .page{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-pack:center;
		    -ms-flex-pack:center;
		        justify-content:center;
	}
	.pourqui .button{
		margin:1rem;
	}

	/** article
	=================**/

	article > header, section > header{
		text-align:center;
		padding:0 20px 20px 20px;
	}
	article > header > h1{
		margin-top:0;
	}
	article > section > h2{
		text-align:left;
	}
	article footer img{
		margin-right:30px;
	}
	.usages div > div,.ils_ont_utilise_istex div >div{
		position:relative;
	}
	.usages a:before,.ils_ont_utilise_istex a:before{
		content:'';
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
	}
	.chantiers_usage footer,.ils_ont_utilise_istex footer{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-orient:horizontal;
		-webkit-box-direction:normal;
		    -ms-flex-direction:row;
		        flex-direction:row;
	}
	.chantiers_usage footer > div,.ils_ont_utilise_istex footer >div{
		padding:20px;
	}
	.frameCenter {
		text-align: center;
	}

	/** rechercher dans istex data search
	=================**/
	#istex-widget-search{
		text-align:center;
	}
	.search,.istex-search-form{
		padding:1em;
	}
	.istex-search-submit{
		border: 1px solid #fff;
		background:transparent url('/wp-content/themes/istex/images/ic_search_black.svg') no-repeat center center;
		background-size:80% 80%;
		height:4.8rem;
		width:4.8rem;
		text-indent: -5999px;
		cursor: pointer;
	}
	.istex-search-input{
		width:calc(100% - 60px);
		padding:5px!important;
		height:4.8rem;
		background-color: transparent;
		border : 1px solid #fff;
		font-size:1.8rem;
		font-style:italic;
		float:left;
	}
	.facresult{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		flex-wrap:wrap;
	}
	.istex-results-sort,.istex-results-items-stats{
		text-align:center;
	}
	.istex-facets{
		margin-right:20px;
	}
	.istex-facet-checkbox li{
		list-style-type: none;
	}
	.istex-facet-checkbox>li>label>input{
		margin-right:.5rem;
	}
	.istex-facet-checkbox-badge{
		padding-left:.5rem;
	}
	.istex-results-item-abstract,ol.istex-results-items li.istex-results-item p.istex-results-item-abstract{
		color:#fff!important;
	}
/*surcharge style demo*/
	.istex-search-form input.istex-search-submit{
			float:none;
			padding:5px;
	}
	.istex-search-form span input.istex-search-input{
		background-image:none;
	}
	.rz-bar{
		width:100%!important;
	}
	.rz-pointer+.rz-pointer{
		left:100%!important;
	}
	.istex-search-form span{
		width:80%;
	}

/* boite discipline*/
.domainHeader .page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	min-height: 300px;
}
.domainHeader p {
	font-size: 2.0rem
}
.domainHeader .abrev {
	font-size: 8.5rem;
}
.disciplines .encadre, .corpus .encadre {
	border:1px solid #fff;
	min-height: 300px;
	width: 300px;
	margin-left: 5px;
	margin-right: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.disciplineTitle {
	padding: 10px 20px 10px 20px;
}
.disciplines .bas .maj ::before {
			background:url('../images/ic_documents.svg') 20px center no-repeat;
			background-size:13%;
}
.abrev {
	font-size: 7.5rem;
	padding: 20px 20px 0 20px;
}
.disciplines h3 {
	padding: 10px 20px 10px 20px;
	margin: 0;
}
.bas {
	line-height: 59px;
	width:100%;
}
.disciplines a .haut, .disciplines a:hover {
	color: #fff;
	text-decoration: none;
}
.disciplines a .bas {
	color: #cad733;
}
.disciplines a:hover .bas {
	text-decoration: underline;
}
.disciplineTitle {
	text-align: right;
}
.publicationSujet {
	margin-top: 10px;
	font-size: 1.5rem;
	font-style: italic;
}
/* boite corpus */
.chiffresDomain {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-size: 1.5rem;
	text-transform: uppercase;
}
.chiffresDomain p {
	padding-left: 100px;
	height: 97px;
	color: #fff;
}
.encadreLivres {
	background:url('../images/ic_Titres.svg') 20px center no-repeat;
	background-size: 9%;
}
.encadreEbooks {
	background:url('../images/ic_ebooks.svg') 20px center no-repeat;
	background-size: 9%;
}

.corpusHeader .page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	text-align: center;
	min-height: 300px;
}
.corpusHeader p {
	font-size: 2.0rem
}
.corpusHeader img {
	max-width: auto;
	-ms-flex-item-align: center;
	align-self: center;
	background-color: #fff;
	margin-top: 20px;
}
.corpusTitle {
	font-size: 2rem;
	padding: 20px 20px 10px 20px;
}
.chiffresCorpus {
	font-size: 3rem;
}
.encadreLivres, .encadreEbooks {
	width: 45%;
	min-width: 300px;
	border: 1px solid #fff;
    text-align: left;
    padding: 25px 20px 25px 20px;
    margin: 0 5px 20px 5px;
}
.intituleChiffre {
	font-size: 1.8rem;
}
.corpus .page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.corpusText {
	padding: 10px 0 10px 0;
    width: 45%;
    margin: 20px 5px 20px 5px;
    text-align: justify;
    min-width: 300px;
}
.corpusItemDomain {
	margin-bottom: 20px;
    margin-top: 20px;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: flex-end;
        -ms-flex-pack: flex-end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 300px;
}
.corpus a .haut, .corpus a:hover {
	color: #fff;
	text-decoration: none;
}
.corpus .bas {
	height: 59px;
}
.corpus a .bas {
	color: #cad733;
}
.corpus a:hover .bas {
	text-decoration: underline;
}
.corpus .haut {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.titreEbooks, .periodeCorpus {
	padding: 5px 20px 0px 0px;
	font-size: 1.4rem;
}

.bas {
	font-size: 1.8rem;
}
.titreEbooks .tiret:not(:last-child)::after {
    font-size: 1.8rem;
    content: " - ";
}
.cgu ul{
	margin-left:2rem;
}
/*Page Contact
------------*/
.wpcf7-form input:not([type='submit']),.wpcf7-form textarea{
	width:100%;
}
.wpcf7-form input,.wpcf7-form textarea{
	padding:5px!important;
	background-color: transparent;
	border : 1px solid #fff;
	font-size:1.8rem;
	color:#fff;
}
.wpcf7-form input{
	height:4.8rem;
}
.wpcf7-form input[type="submit"]{
	color:#cad733;
	cursor: pointer;
}
.wpcf7-form input.wpcf7-not-valid,.wpcf7-form textarea.wpcf7-not-valid{
		border : 1px solid red;
}

	/*FOOTER
	========*/
	body > footer{
		background-color:rgba(255,255,255,.1);
		margin-top:auto;
		text-align:center;
		padding-top:20px;
		flex-shrink:0;
	}
	body > footer > ul{
		padding:0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		list-style-type: none;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap:wrap;
		    flex-wrap:wrap;
		-webkit-box-align:center;
		    -ms-flex-align:center;
		        align-items:center;
	}
	body > footer a{
		padding:0 .5em;
	}
	.menu-pied li+li:before{
		content:"|"
	}
	#menu-partenaires li{
		padding:0 20px 20px 20px;
	}
/*plugin timeline - historique*/
	.timeline-main-title{
			text-align:center;
	}
	.cool-timeline.white-timeline .timeline-post.even .timeline-meta .meta-details,.cool-timeline.white-timeline .timeline-post.odd .timeline-meta .meta-details,.content-details{
		color:#fff !important;
	}
	.cool-timeline .light-grey-post .timeline-content, .cool-timeline .timeline-post .timeline-content{
		background-color:transparent !important;
	}
	.content-details{
		border:1px solid grey;
		border-top:0;
		border-radius:0 0 5px 5px;
	}
	.exergue{
		color:red;
	}
	/*>618px
	===============================================*/
		@media only screen and (min-width:618px){
			body{
					background:#242b32 url(../images/BG_ISTEX_DARK_DESKTOP.jpg) center repeat;
			}
			.compacte{
				margin:3.5rem auto;
			}
			.profile .chercheur,.profile .responsable,.profile .curieux{
				background-size:auto;
			}
			.mobile{
				width:auto;
				height:auto;
			}
			.profile li{
				max-width:16rem;
				min-height:16rem;
				padding-bottom:10px;
			}
			.profile a:before{
				height:12.3rem;
			}
			section{
				padding:40px 0;
			}
			.services > div,.usages > div,.disciplines > ul, .disciplines > div{
				-webkit-box-orient:horizontal;
				-webkit-box-direction:normal;
				    -ms-flex-direction:row;
				        flex-direction:row;
				-webkit-box-align:stretch;
				    -ms-flex-align:stretch;
				        align-items:stretch;
				/*justify-content:center;*/
			}
			.chantiers_usage footer,ils_ont_utilise_istex  footer{
				-webkit-box-orient:horizontal;
				-webkit-box-direction:normal;
				    -ms-flex-direction:row;
				        flex-direction:row;
			}
			.chantiers_usage footer > div,.ils_ont_utilise_istex  footer > div{
				min-width:50%;
			}
			.corpus .encadre {
				height:300px;
				width: 340px;
			}
			.disciplines .encadre {
				height: 300px;
				width: 300px;
			}
			.services .encadre{
				min-height:300px;
				min-width:300px;
			}
			.encadreLivres, .encadreEbooks {
				width: 45%;
				min-width: 300px;
			}
			.corpusHeader img {
				max-width: 500px;
			}
			.corpusText {
			    width: 45%;
			    min-width: 300px;
			}
			.corpusItemDomain {
			    min-width: 320px;
			}
		.maj {
			font-size: 2rem;
		}
		.facresult{
			flex-wrap:nowrap;
		}
	}
/*>1024px
===============================================*/
	@media only screen and (min-width:1024px){
		.page{
			max-width:1200px;
		}
		.compacte{
			max-width:60%;
		}

		h2:not(.home h2),.h2{
			margin-bottom:0;
			margin-top:0;
		}
		.chiffre,.doc {
			font-size:3rem;
		}
		.encadre{
			width:auto;
		}
		.titbook{
			margin:0;
		}
		.chiffres{
			-webkit-box-orient:horizontal;
			-webkit-box-direction:normal;
			    -ms-flex-direction:row;
			        flex-direction:row;
			-webkit-box-pack:justify;
			    -ms-flex-pack:justify;
			        justify-content:space-between;
		}
		.chiffres>p{
			width:calc(1/3*100% - 20px);
		}
		.homeresponsables .services > div{
			-webkit-box-pack: center;
					-ms-flex-pack: center;
							justify-content: center;
		}
		.disciplines>ul{
			padding:0;
		}
		.services .encadre {
			width: calc(100%/3 - 20px);
		}
		.homeresponsables .services .encadre {
			margin-right:30px;
		}

		.disciplines .encadre:nth-child(3n),.services .encadre:nth-child(3n){
			margin-right:0;
		}
		.usages .encadre,.colcol{
			width: calc(100%/2 - 20px);
			margin-right:30px;
		}
		.usages .encadre:nth-child(2n){
			margin-right:0;
		}

		.deuxcol{
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-ms-flex-wrap:wrap;
			    flex-wrap:wrap;
		}
		.deuxcol > article,	.la-gouvernance>ul>li{
			width:calc(50% - 20px);
			margin-right:20px;
		}
		.deuxcol > article:nth-child(2n+3){
			max-width:1200px;
		}
		.la-gouvernance>ul{
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
		}
		.corpusItemDomain{
			width:45%
		}
		/*timeline - historique*/
		.cool-timeline-wrapper{
			max-width:1200px!important;
		}
	}
/*<622px
===============================================*/

@media only screen and (max-width: 622px) {
	.encadreChiffres, .corpusText{
		width: 100%;
	}
	.disciplines .page, .corpus .page,.chiffresDomain {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
/*<300px
===============================================*/

@media only screen and (max-width: 300px) {
	.services .encadre{
		min-width:100%;
	}
.disciplines .encadre, .corpus .encadre {
	width: 100%;
	}
.corpusText{
	min-width:260px;
	}
}
