{% extends 'base.twig' %}
{% block title %}
  {{ site.name }} - Testez ISTEX
{% endblock %}
{% block istexsearchcss %}
  {% include 'inc/istex-search-css.twig' %}
{% endblock %}

{% block contenu %}
<main>
  <div class="page">
    <header><h1>Testez ISTEX</h1></header>
    <istex-search></istex-search>
    <section class="facresult">
      <istex-facets></istex-facets>
      <istex-results></istex-results>
    </section>
  </div>
</main>
{% endblock %}
