
<div id="search">
    <form method="get" role="search" action="{{site.url}}/rechercher/">
          <input type="search"  name="q" placeholder="Titre, mot-clé ou DOI" />
          <input type="submit" value="Rechercher" />
      </form>
</div>
