<div class="search">
    <form method="get" role="search" action="{{site.url}}/rechercher/" class="istex-search-form">
          <input type="search"  name="q" placeholder="Testez ISTEX : indiquez un titre, des mots-clés ou un DOI" class="istex-search-input"/>
          <input type="submit" title="lancer la recherche dans ISTEX" value="rechercher" class="istex-search-submit">
    </form>
</div>
